<!DOCTYPE html>
<html>
<head>
    <title>Edit Profile</title>
</head>
<body>
{%extends "base.html"%}
{%load crispy_forms_tags%}
{% block content %}
{%include "includes/navbar.html"%}
<div class="signup-data container p-5 text-dark">
    <div class="content-section p-5 card">
            <form method="POST" enctype="multipart/form-data" class="">
                {%  csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Edit</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-primary" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>

