<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
{%extends "base.html"%}
{%load crispy_forms_tags%}
{% block content %}
{%include "includes/navbar.html"%}
<div class="signup-data container p-5 text-dark">
    <div class="content-section p-5 card">
            <form method="POST" class="">
                {%  csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Join Today</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-primary" type="submit">Sign-Up</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="">
                    <a href="{%url 'signin'%}">Already have an account?</a>
                </small>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>

