<!DOCTYPE html>
<html>
<head>
    <title>Delete</title>
</head>
<body>
{%extends "base.html"%}
{%load crispy_forms_tags%}
{% block content %}
{%include "includes/navbar.html"%}
<div class="signup-data container p-5 text-dark">
    <div class="content-section p-5 card">
            <form method="POST" class="">
                {%  csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Classroom</legend>
                    {{ form|crispy }}
                </fieldset>
                <h1>{{object.title}}</h1>
                
                <div class="form-group">
                    <button class="btn btn-outline-danger" type="submit">Delete</button><button class="btn btn-outline-primary" type=""><a href="{%url 'classroomhome'%}">Cancel</a> </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>
